p{
    color: blue;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    text-shadow: 10px;
}
body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;    
    background-image: url(dal_chawal.peg);
    background-color: aqua;
}
ul{
    list-style:outside;
}

#id1
{
    color: red;
}

#list_1
{
    list-style:inside;
}

.class1
{
    color:blue;
}
a[href="google"]
{
    color: black;
}
div,em
{
    color:green;
}

.small
{
    margin: 20px 100px  ;
    height: 200px;
    background-color: white;
    border: 4px solid black;
    width: 200px;
    padding: 20px; 
    overflow: scroll;
}

.ok
{
    background-color: brown;
}

div
{
    color: black;
}